<h1>Song Savant</h1>

<div id="img">

    <img id="musicImg" src="https://images.pexels.com/photos/257904/pexels-photo-257904.jpeg?cs=srgb&dl=audio-business-computer-257904.jpg&fm=jpg">

</div>

<div class='form'>
  <form name="form" id="form">
    <input type="text" name='playerName' placeholder='Enter Song Title' ng-model='$ctrl.songTitle'>
    <button id="submit" ng-click='$ctrl.submit()'>
      Submit
    </button> 
    <p ng-if="$ctrl.showAnswer">
      <span ng-if='$ctrl.songTitle.toLowerCase()===$ctrl.selectedTrack.name.toLowerCase()'>
        Correct! Way to be in tune
      </span>
      <span ng-if='$ctrl.songTitle.toLowerCase()!==$ctrl.selectedTrack.name.toLowerCase()'>
        Sorry :( That's incorrect, this is <b>{{$ctrl.selectedTrack.name}} - {{$ctrl.selectedTrack.album.artists[0].name}}</b> 	 
      </span>
    </p> 
    <span ng-if='$ctrl.countDown === 0'>
      <p>Out of time, you gotta be quicker than that!</p> 
    </span> 
  </form>
</div>

<h1>Timer: {{$ctrl.countDown}}</h1>

<div class="audio-container">
  <audio src="{{$ctrl.selectedTrack.preview_url}}" controls="controls" autoplay="autoplay"></audio>
</div>

<h3 class='songCount' >Track {{$ctrl.numSong}} of 5</h3> 
