<h1>Song Savant</h1>
    
   <img id="musicImg" src="https://images.pexels.com/photos/257904/pexels-photo-257904.jpeg?cs=srgb&dl=audio-business-computer-257904.jpg&fm=jpg">

<div>
   <form name="form" id="form">
    Enter Song Title: <input type="text" id="input" name='playerName' ng-model='$ctrl.songTitle'>
    <button id="submit" ng-click='$ctrl.submit()'>Submit</button> 
    <p id='answer' ng-if="$ctrl.showAnswer"><span id='correct' ng-model='$ctrl.correct' ng-if='$ctrl.songTitle.toLowerCase()===$ctrl.selectedTrack.name.toLowerCase()'>Correct</span><span id='incorrect' ng-if='$ctrl.songTitle.toLowerCase()!==$ctrl.selectedTrack.name.toLowerCase()'>Incorrect</span></p>
    <p>Song {{$ctrl.clicks}} out of 5!</p>   
  </form>
</div>

<h1>Timer: {{$ctrl.countDown}} seconds left</h1>

<div>
 <h3>{{$ctrl.selectedTrack.name}} - {{$ctrl.selectedTrack.album.artists[0].name}}</h3>
 <audio src="{{$ctrl.selectedTrack.preview_url}}" controls="controls" autoplay="autoplay"></audio>
</div>
