
/* index.html */
body{
    height:100vh;
    background-color: rgba(70, 71, 71, 0.678);
    background-image: linear-gradient(rgba(70, 71, 71, 0.678),  #ca84ca);
    display: flex;
}



h1{
    font-family: 'Cinzel', serif; 
    text-align: center;
    color: black;
    text-shadow: 1px 1px 2px black, 0 0 25px rgb(11, 250, 178), 0 0 5px rgb(7, 194, 147);
}
h3{
    text-align: center;
    font-family: 'Playfair Display SC', serif;
    color: black;
    text-shadow: 1px 1px 2px black, 0 0 25px rgb(11, 250, 178), 0 0 5px rgb(7, 194, 147);
   
}

input{
    width: 45vw;
    box-sizing: border-box;
    border: none;
    background: transparent;
    margin-bottom: 5em;
    border-bottom: 2px solid black;
    
}

#musicImg {
    height: 50vh;
    width: 100%;
    border-radius: 8px;
    
}


.form {
    display: flex;
    justify-content: center;
} 
.score {
	position: relative;
	display: inline-block;
	width: 25%;
}
.dropbtn {
    background-color: rgb(11, 250, 178);
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
#category{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#cat2{
    padding: 2em;
}
#pop{
    width: 30em;
    height: 4em;
}
#country{
    width: 30em;
    height: 4em;
}
#RnB{
    width: 30em;
    height: 4em;
}
#decades00s{
    width: 30em;
    height: 4em;
}

#decades90s{
    width: 30em;
    height: 4em;
}

#decades80s{
    width: 30em;
    height: 4em;
}

#decades70s{
    width: 30em;
    height: 4em;
}

#rock{
    width: 30em;
    height: 4em;
}
#hipHop{
    width: 30em;
    height: 4em;
}
.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

.dropdown {
    position: relative;
    display: inline-block;
}

/* game.html */

audio{
    width: 99vh;
    margin-left: 15%;
}

.audio-container {
    display: flex;
    justify-content: center;
}

.show {display:block;}


/* score.html */


     /* For tablets: */
@media only screen and (max-width: 768px) {


    #category{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    

    #musicImg {
        height: 37vh;
        width: 90%;
        border-radius: 8px;
        
    }

    #cat1 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    #cat2 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 0em;
    }
    

    
}

        /* For mobile phones: */
    @media only screen and (max-width:500px) {

        
    }
